nav {
    background-color: chartreuse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10em;
    position: relative;
    top: 3vh;
    left: 47vw;
}

nav a:link{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: darkgray;
    transition: 1s;
}

/* #about {
    display: flex;
    flex-direction: row;
} */

#textbox {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 50%;
    border: 1em gray;
}

/* #about img {
    background-color: aqua;
    width: 50%;
} */

#workBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#workBox h2 {
    font-family: Arial, Helvetica, sans-serif;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery img {
    max-width: 30%;
}

#contactBox {
    font-family: Arial, Helvetica, sans-serif;
}