body{
    background-color: beige;
}
#box1{
    border-style:solid;
    width: 40vw;
    height: 33vh;
    border-color:rgba(20, 250, 173,10);
    border-width: 3px;
    border-radius:10px;
    background-color: mediumseagreen;
    position: relative;
}

#text1{
    position: relative;
    left: 100%;
    top: 50px;
}

#box2{
    width: 73vw;
    height: 33vh;

    border-style: solid;
    border-radius:3px;
    border-color:purple;
    position: relative;
    left: 40vw;
    background-color: mediumvioletred;
}

#text2{
    position: absolute;
    top: 27vh; /* positions the text to the bottom left of the div, vh: Relative to 1% of the height of the viewport**/
}

#box3{
    width: 73vw;
    height: 175vh;
    border-radius: 10px;
    background-color: orangered;
}

#text3{
    position: sticky;
    top: 0; /*says when the position of the text has 0 height above it, stick to the top of the screen*/
}