#narrowScreen{
    background-color: green; 
    /*when greater than 600px*/
}
#wideScreen{
    background-color: red;
}
#shortScreen{
    background-color: turquoise;
}
#tallScreen{
    background-color: lavender;
}

@media only screen and (max-width: 600px) {
    #narrowScreen{
        background-color: purple;
    }
}